<!-- Validation failure messages -->
<% if @assigned_prompt.errors.any? %>
  <% @assigned_prompt.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Assigned Prompt #<%= @assigned_prompt.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_assigned_prompt/<%= @assigned_prompt.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for prompt_id -->
      <div class="form-group">
        <label for="prompt_id" class="control-label">
          Prompt
        </label>

        <input type="text" id="prompt_id" name="prompt_id" placeholder="Prompt" class="form-control" value="<%= @assigned_prompt.prompt_id %>">
      </div>

      <!-- Label and input for student_id -->
      <div class="form-group">
        <label for="student_id" class="control-label">
          Student
        </label>

        <input type="text" id="student_id" name="student_id" placeholder="Student" class="form-control" value="<%= @assigned_prompt.student_id %>">
      </div>

      <button class="btn btn-warning">
        Update Assigned Prompt
      </button>
      or
      <a href="/assigned_prompts/<%= @assigned_prompt.id %>">Cancel</a>
    </form>
  </div>
</div>
