<div class="page-header">
  <h3>Assigned Prompt #<%= @assigned_prompt.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Prompt</dt>
      <dd>
        <% if @assigned_prompt.prompt.present? %>
          <a href="/prompts/<%= @assigned_prompt.prompt_id %>">
            <%= @assigned_prompt.prompt.content %>
          </a>
        <% end %>
      </dd>

      <dt>Student</dt>
      <dd>
        <% if @assigned_prompt.student.present? %>
          <a href="/students/<%= @assigned_prompt.student_id %>">
            <%= @assigned_prompt.student.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/assigned_prompts" class="btn btn-primary">
        Back
      </a>
      <a href="/assigned_prompts/<%= @assigned_prompt.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_assigned_prompt/<%= @assigned_prompt.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
