<div class="page-header">
  <h3>Assigned Prompt #<%= @assigned_prompt.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Prompt</dt>
      <dd><%= @assigned_prompt.prompt_id %></dd>

      <dt>Student</dt>
      <dd><%= @assigned_prompt.student_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/assigned_prompts" class="btn btn-primary">
        Back
      </a>
      <a href="/assigned_prompts/<%= @assigned_prompt.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_assigned_prompt/<%= @assigned_prompt.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Assigned prompt has many responses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Responses
      </li>

      <% @assigned_prompt.responses.each do |response| %>
        <li class="list-group-item">
          <a href="/responses/<%= response.id %>">
            <%= response.assigned_prompt_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/responses/<%= response.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/responses/<%= response.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_response/<%= response.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
