<div class="page-header">
  <h3>Response #<%= @response.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Assigned prompt</dt>
      <dd><%= @response.assigned_prompt_id %></dd>

      <dt>Content</dt>
      <dd><%= @response.content %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/responses" class="btn btn-primary">
        Back
      </a>
      <a href="/responses/<%= @response.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_response/<%= @response.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Response has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @response.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.response_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for response_id -->
      <input type="hidden" name="response_id" value="<%= @response.id %>">

      <!-- Label and input for content -->
      <div class="form-group">
        <label for="content" class="control-label">
          Content
        </label>

        <textarea id="content" name="content" placeholder="Content" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for student_id -->
      <div class="form-group">
        <label for="student_id" class="control-label">
          Student
        </label>

        <input type="text" id="student_id" name="student_id" placeholder="Student" class="form-control" value="">
      </div>

      <!-- Label and input for instructor_id -->
      <div class="form-group">
        <label for="instructor_id" class="control-label">
          Instructor
        </label>

        <input type="text" id="instructor_id" name="instructor_id" placeholder="Instructor" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
